# Dependencies
/vendor/
node_modules/

# WordPress
wp/wp-config.php
wp/wp-content/uploads/
wp/wp-content/upgrade/
wp/wp-content/cache/
wp/wp-content/plugins/*
!wp/wp-content/plugins/.gitkeep
wp/wp-content/themes/*
!wp/wp-content/themes/.gitkeep

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
debug.log
npm-debug.log*

# Composer
composer.phar
